<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>BoardMate Dashboard</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="/static/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .fo {
      color: white;

    }

    input:focus {
      outline: none;
    }

    input {

      border-radius: 5px;
      color: white;
      background-color: rgb(34, 34, 115);
      box-shadow: 0 0px 0px #ccc;
    }
  </style>
</head>

<body>
  <!-- partial:index.partial.html -->
  <div class="app-container">
    <div class="app-left">
      <button class="close-menu">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="feather feather-x">
          <line x1="18" y1="6" x2="6" y2="18" />
          <line x1="6" y1="6" x2="18" y2="18" />
        </svg>
      </button>
      <div class="app-logo">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="feather feather-bar-chart-2">
          <line x1="18" y1="20" x2="18" y2="10" />
          <line x1="12" y1="20" x2="12" y2="4" />
          <line x1="6" y1="20" x2="6" y2="14" />
        </svg>
        <span>BoardMate</span>
      </div>
      <ul class="nav-list">
        <li class="nav-list-item ">
          <a class="nav-list-link" href="/">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-columns">
              <path d="M12 3h7a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-7m0-18H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h7m0-18v18" />
            </svg>
            首頁
          </a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="/server/add">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-briefcase">
              <rect x="2" y="7" width="20" height="14" rx="2" ry="2" />
              <path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16" />
            </svg>
            新增伺服器
          </a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="/shop">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-file">
              <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z" />
              <polyline points="13 2 13 9 20 9" />
            </svg>
            購買資源
          </a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="/code">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-users">
              <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2" />
              <circle cx="9" cy="7" r="4" />
              <path d="M23 21v-2a4 4 0 0 0-3-3.87" />
              <path d="M16 3.13a4 4 0 0 1 0 7.75" />
            </svg>
            兌換代碼
          </a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-pie-chart">
              <path d="M21.21 15.89A10 10 0 1 1 8 2.83" />
              <path d="M22 12A10 10 0 0 0 12 2v10z" />
            </svg>
            掛機頁面
          </a>
        </li>
      </ul>
    </div>
    <div class="app-main">
      <div class="main-header-line">
        <h1>歡迎回來 {{user.username}}</h1>
        <div class="action-buttons">

          <button class="menu-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-menu">
              <line x1="3" y1="12" x2="21" y2="12" />
              <line x1="3" y1="6" x2="21" y2="6" />
              <line x1="3" y1="18" x2="21" y2="18" />
            </svg>
          </button>
        </div>
      </div>
      <div class="chart-row three">
        <div class="chart-container-wrapper">
          <div class="chart-container">
            <div class="chart-info-wrapper">
              <h2>CPU</h2>
              <span>{{now["cpu"]}}/{{resource["cpu"]}}%</span>
            </div>
          </div>
        </div>
        <div class="chart-container-wrapper">
          <div class="chart-container">
            <div class="chart-info-wrapper">
              <h2>記憶體</h2>
              <span>{{now["memory"]}}/{{resource["memory"]}}MB</span>
            </div>
          </div>
        </div>
        <div class="chart-container-wrapper">
          <div class="chart-container">
            <div class="chart-info-wrapper">
              <h2>空間</h2>
              <span>{{now["disk"]}}/{{resource["disk"]}}MB</span>
            </div>
          </div>
        </div>
        <div class="chart-container-wrapper">
          <div class="chart-container">
            <div class="chart-info-wrapper">
              <h2>數量</h2>
              <span>{{now["servers"]}}/{{resource["servers"]}}個</span>
            </div>
          </div>
        </div>
      </div>
      <div class="chart-row two">
        <div class="chart-container-wrapper big">
          <div class="chart-container">
            <div class="chart-container-header">
              <h2>新增伺服器</h2>
            </div>
            <div class="fo imtext">
              <p>{{error}}</p>
              <form action="#" method="post">
                <p>{{name}}</p>
                <p>cpu</p>
                <p><input name="cpu" type="number"></p>
                <p>記憶體</p>
                <p><input name="memory" type="number"></p>
                <p>空間</p>
                <p><input name="disk" type="number"></p>
                <p><input type="submit" value="更新伺服器"></p>

              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js'></script>
  <script src="/static/script.js"></script>

</body>

</html>